# Cloudflare Account Settings
ACCOUNTID=your_cloudflare_account_id
RULEID=your_cloudflare_rule_id
AUTH_TOKEN=your_cloudflare_api_token

# Schedule settings - Examples:
# */5 * * * *    Every 5 minutes
# */30 * * * *   Every 30 minutes
# 0 */1 * * *    Every hour
# 0 */6 * * *    Every 6 hours
# 0 0 * * *      Every day at midnight
CRON="*/30 * * * *"

# Notification Settings (using Shoutrrr)
# Examples:
# Discord:  discord://token@channel
# Telegram: telegram://token@telegram?chats=@channel
# Slack:    slack://token@channel
# SMTP:     smtp://username:password@host:port/?from=from@example.com&to=to@example.com
# More formats: https://containrrr.dev/shoutrrr/v0.8/services/overview/
NOTIFICATION_URL=
NOTIFICATION_IDENTIFIER="Server Name"

# Set to "true" to test notifications on startup
TEST_NOTIFICATION=true